@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1rem 1.6rem;
}

nav ul {
    display: flex;
    gap: 0.5rem;
}
nav ul li {
    display: flex;
    list-style: none;
    height: 100%;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: rgb(129, 129, 129);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
nav ul li:hover {
    color: rgb(174, 174, 174);
}
.activeNav {
    color: black;
}

nav button {
    padding: 0.4rem 1.6rem;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background: transparent
}
nav button:hover {
    background:rgb(26, 26, 26);
    color: white;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 700px;
    background: linear-gradient(#ccc, #eee);
    z-index: 1;
    gap: 1.5rem;
}

header h1 {
    font-size: 2.4rem;
    line-height: 1.8rem;
}
header p {
    width: 100%;
    max-width: 500px;
    text-align: center;
    color: rgb(109, 109, 109);
    font-size: 0.9rem;
    font-weight: 300;
    padding-bottom: 1rem;
}

header div {
    display: flex;
    gap: 2rem;
}

header div button {
    display: flex;
    gap: 0.3rem;
    padding: 0.3rem 0.4rem;
    background: rgb(26, 26, 26);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
header div button img {
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
}
main h2 {
    font-size: 2.4rem;
    padding: 2rem 0 4rem 0;
}

main div {
    width: 100%;
    max-width: 1100px;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    grid-auto-rows: 340px;
}
main div article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: #ebebeb;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding-top: 36%;
}
main div article span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    padding: 0.5rem 0;
}
main div article span h3 {
    font-size: 1rem;
}
main div article span p {
    font-size: 0.9rem;
}

.opacity {
    opacity: 0.2;
}

.bigbox {
    grid-column: 2 span;
    margin: 2rem 0;
    padding: 0;
    background: #343332;
    justify-content: center;
    color: white;
}
.bigbox h2 {
    padding: 0;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .5px;
}
.bigbox p {
    color: rgb(170, 170, 170);
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
}
.bigbox button {
    padding: 0.5rem 1.5rem;
    background: transparent;
    border: 1px solid rgb(170, 170, 170);
    color: rgb(170, 170, 170);
    text-transform: uppercase;
    font-size: 0.7rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
}
.bigbox button:hover {
    background: rgb(170, 170, 170);
    color: black;
}

footer {
    width: 100%;
    min-height: 580px;
    background: url(../images/footer-map.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 420px 420px;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

footer article {
    height: 390px;
    background: white;
    grid-column: 2;
    border-radius: 4px;
    padding: 1.6rem;
}

footer article h2 {
    font-size: 2.4rem;
    line-height: 4rem;
}
footer article h3 {
    font-size: 1.2rem;
    color: rgb(73, 73, 73);
}
footer article p {
    font-size: 0.8rem;
    color: rgb(73, 73, 73);
    padding: 0.4rem 0;
    padding-bottom: 2rem;
}
footer article span {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 0;
}
footer article span p {
    padding: 0;
    color: black;
}